<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251036577954-gd657hrtu8dprku3b22abojnptfh683j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251036577954-gd657hrtu8dprku3b22abojnptfh683j</string>
	<key>API_KEY</key>
	<string>AIzaSyDUyMKOlq0tT_MrtHALyvtE1r9OWLPnzmE</string>
	<key>GCM_SENDER_ID</key>
	<string>251036577954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthCareDriver</string>
	<key>PROJECT_ID</key>
	<string>iambulance-eea13</string>
	<key>STORAGE_BUCKET</key>
	<string>iambulance-eea13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251036577954:ios:1eea77fa182d7274a027fb</string>
</dict>
</plist>